</br></br>
<figure class="image is-3by1">
  <%= image_tag @new_product.featured_image%>
</figure></br>
<div class="columns">
  <div class="column"><p class="title"><%= @new_product.title %></p>
</div>
</div></br></br>
<div class="columns">
  <div class="column is-three-quarters"><%= @new_product.content %></div>
</div>
